* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 0;
  font-family: Roboto;
  background: linear-gradient(to right top, #a2a7ad, #83898d, #bbc8c9) no-repeat;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
}
h1{
   margin-bottom: 2rem;
}
p {
  font-weight: bold;
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #e2e9ee;
  border-radius: 1rem;
  padding: 1rem 1rem;
}
.slides__window{
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  overflow: hidden;
}

.slides {
  display: flex;
  width: calc(100% * 4);
  height: auto;
  margin-left: 0;
  transition: margin-left 0.7s 0.1s;
}
.slides__img {
  width: calc(100% / 4);
  object-fit: contain;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.text__window{
  width: 40%;
  overflow: hidden;
}
.text {
  display: flex;
  width: calc(100% * 4);
  margin-left: 0;
  transition: margin-left 0.7s 0.1s;
  }
.text p {
  width: calc(100% / 4);
  font-size: 1rem;
  line-height: 2rem;
 text-align: left;
}
input {
  display: none;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.controls__item {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #4414f1;
  cursor: pointer;
}

label:hover .controls__item{
  background-color: rgb(19, 197, 182) ;
}
#slide1:checked ~ .content .controls .checked_1 .controls__item,
#slide2:checked ~ .content .controls .checked_2 .controls__item,
#slide3:checked ~ .content .controls .checked_3 .controls__item,
#slide4:checked ~ .content .controls .checked_4 .controls__item {
  background: none;
  border: 2px solid #4414f1;
}
#slide1:checked ~ .content .controls .checked_1:hover .controls__item,
#slide2:checked ~ .content .controls .checked_2:hover .controls__item,
#slide3:checked ~ .content .controls .checked_3:hover .controls__item,
#slide4:checked ~ .content .controls .checked_4:hover .controls__item {
  border: 2px solid rgb(19, 197, 182);
}

#slide1:checked ~ .slides__window .slides,
#slide1:checked ~ .content .text__window .text {
  margin-left: 0;
}
#slide2:checked ~ .slides__window .slides,
#slide2:checked ~ .content .text__window .text {
  margin-left: -100%;
}
#slide3:checked ~ .slides__window .slides,
#slide3:checked ~ .content .text__window .text {
  margin-left: -200%;
}
#slide4:checked ~ .slides__window .slides,
#slide4:checked ~ .content .text__window .text {
  margin-left: -300%;
}

@media (max-width: 500px) {
  .text__window{
  width: 100%;
}
  .content  {
    flex-wrap: wrap-reverse;
    align-items: center;
    }
    .controls{
      margin: auto;
    }
}